.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all .2s;
}
.slide-right-enter {
  transform: translateX(-100%);
}
.slide-left-enter {
  transform: translateX(100%);
}

/**
 * 动画 浅入浅出
 */
.fadesd-enter-active,
.fadesd-leave-active {
  transition: all .2s ease;
}
.fadesd-enter
.fadesd-leave-active {
  opacity: 0
}



// 单行省略号
.lang-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

// 两行省略号
.lang-ellipsis--l2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

// 三行省略号
.lang-ellipsis--l3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

